
.card {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #FEDB39, #1CD6CE);
    margin: 10px;
    padding: .5rem;
    text-align: center;
    box-shadow: 4px 4px 4px rgb(36, 18, 18);
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}